/* Login.css */
.login-container {
  width: 300px;
  margin: 110px auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #010101;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #6d6e6e;
}
